body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

h3{
    color: #0d9857;
}

h4{
    color: rgb(188, 188, 15);
}


p {
    font-size: 16px;
    color: white;
    font-family: Arial, sans-serif;
}

a{
    color: #31b678;

}


#full {
    color: rgb(214, 80, 80);
    font-weight: bold;
}

.container {
    display: flex;
    gap: 130px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 1200px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center;
}


.my_info, .contact {
    background-color: hsl(0, 0%, 15%);
    padding: 20px 30px;
    margin-bottom: 30px;
    width: 100%; /* Full width on smaller screens */
    max-width: 758px;
    border-radius: 10px;
}

.my_info{
    padding-bottom: 34px;
}
.contact_child {
    display: flex;
    gap: 30px; /* Adjusted for better spacing */
    flex-wrap: wrap;
    color: #f1f1f1;
}

img {
    width: 100%; /* Makes images responsive */
    max-width: 300px;
    height: 380px;
    border-radius: 10px;

}


.delo {
    display: flex;
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    padding: 20px;
    gap: 30px; /* Adjusted gap for better fit */
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    color: #f1f1f1;
    margin-bottom: 50px;

}


.skills_icons img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}



.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1230px;

}



#projects {
    text-align: center;
    width: 100%;
    font-size: 1.8em; /* Adjust font size if needed */
    font-weight: bold;
}

.pro1, .pro2, .pro3 {
    width: 90%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    padding: 20px;
    color: #f1f1f1;

}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .delo {
        flex-direction: column;
        align-items: center;
    }

    .contact_child {
        flex-direction: column;
        gap: 20px;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }
}
